ssh/
*~
*.pyc
.config
.coverage
*.orig
*.rej
*.bak
.vagrant/
.idea/
.venv/
.env
.secret
.log
.ssh/
oh-my-posh/
.DS_Store
powershell/
noted/
proxmox/
script/zsh-script-v1.sh
script/zsh-script-v2.sh
script/zsh-script-v3.sh
script/zsh-script-v4.sh
powershell/
noted/
